[submodule "my_plugins/git-blame.vim"]
	path = my_plugins/git-blame.vim
	url = https://github.com/zivyangll/git-blame.vim.git
[submodule "my_plugins/tagbar"]
	path = my_plugins/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "my_plugins/copilot.vim"]
	path = my_plugins/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "my_plugins/vim-matchit"]
	path = my_plugins/vim-matchit
	url = https://github.com/adelarsq/vim-matchit.git
[submodule "my_plugins/vim-polyglot"]
	path = my_plugins/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "my_plugins/gruvbox"]
	path = my_plugins/gruvbox
	url = https://github.com/morhetz/gruvbox.git
